.super-mario {
    width: 200px;
    position: absolute;
    top: 200px;
    z-index: 1;
  }
 
  .goomba {
    width: 100px;
    position: absolute;
    top: 500px;
  }
  
  .baloon {

  position: absolute;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
  }
 
  .bowser {
    width: 200px;
    position: absolute;
    left: 290px;
    top: 250px;
  }
  p {
      z-index: 2;
      top: 138px;
      left: 30px;
  }